{% extends 'base/base.html' %}

{% block title %} Add TODO {% endblock title %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'add-todo' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">title</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
          <label for="content">Password</label>
          <input type="text" class="form-control" id="content" name="content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> 
</div>
{% endblock content %}