{% extends 'base/base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="container">
    <form method="POST" action="{% url 'signin' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> 
</div>
{% endblock content %}